In [1]:
from datetime import datetime

### O pacote datetime também permite que possamos incluir o horário

In [3]:
# Ordem é Ano->Mês->Dia->Hora->Minuto->Segundo
dt = datetime(2017, 10, 1, 15, 23, 25)
dt

datetime.datetime(2017, 10, 1, 15, 23, 25)

In [4]:
# Existe várias unidades de data e horário, como a unidade microsegundos
dt = datetime(year=2017, month=10, day=1,
hour=15, minute=23, second=25,
microsecond=500000)
dt

datetime.datetime(2017, 10, 1, 15, 23, 25, 500000)

In [5]:
print(dt)

2017-10-01 15:23:25.500000

In [6]:
# Função que substitui partes específicas de uma data
dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

2017-10-01 15:00:00

### Existem duas funções muito importantes se tratando de datas:
1. Função strftime: Usada para transformar o objeto data em string
2. Função strptime: Usada para transformar o objeto string em data

In [7]:
# Printando datas em qualquer formato de string
print(dt.strftime("%H:%M:%S on %Y/%m/%d/"))

15:23:25 on 2017/10/01/

In [8]:
# Transformando string em data
dt = datetime.strptime("12/30/2017 15:19:13",
"%m/%d/%Y %H:%M:%S")
dt

datetime.datetime(2017, 12, 30, 15, 19, 13)

In [9]:
print(dt)

2017-12-30 15:19:13

In [25]:
# Para usar a função strptime, devemos fornecer todos as informações necessárias para a data, caso falte alguma, dará erro. 
# Por exemplo:
#dt = datetime.strptime("2017-12-30 15:19:13", "%Y-%m-%d")
# Dará erro porque não especificamos o horário: hora, minuto e segundo

### Existem funções para sabermos a diferença de duas datas em vários formatos

In [13]:
start = datetime(2017, 10, 8, 23, 46, 47)
end = datetime(2017, 10, 9, 0, 10, 57)
duration = end - start
print(duration)
print(duration.total_seconds())

0:24:10
1450.0

### Objetos time delta são bem interessantes. Serve para somar, subtrair datas e também são resultados subtração de datas, por exemplo.

In [16]:
from datetime import timedelta

In [17]:
delta1 = timedelta(seconds=1)

In [18]:
print(start)
print(start + delta1)

2017-10-08 23:46:47
2017-10-08 23:46:48

In [19]:
delta2 = timedelta(days=1, seconds=1)

In [20]:
print(start)
print(start + delta2)

2017-10-08 23:46:47
2017-10-09 23:46:48

In [21]:
delta3 = timedelta(weeks=-1)

In [22]:
print(start)
print(start + delta3)

2017-10-08 23:46:47
2017-10-01 23:46:47

In [23]:
delta4 = timedelta(weeks=1)

In [24]:
print(start)
print(start - delta4)

2017-10-08 23:46:47
2017-10-01 23:46:47